*{
  margin: 0;
  padding:0 ;
}

.tdra-bg{
  background-image: url('./assets/MacBook\ Pro\ 14_\ -\ 4.png');
  width: 100%;
  height: 100vh;
}

.input-group .dropdown-menu{
  margin-top: 3rem;
}

.navbar-brand img{
  width: 15rem;
}

.chart{

  width: 100%;
}